@charset "utf-8";
/* 
CSS By Away
http://www.dfuns.idv.tw
 */

*{ padding:0; margin:0; font:13px/1.5em Arial, Helvetica, sans-serif;}

.wrap{ 	width:90vw; 
		margin:auto;
		position: relative;
		z-index:11;
		
		transform:translatex(8%);
		display:none;
		}

.mask{ 
		height:90vh; 
		width:30vw;
		overflow:hidden; 
		/*border:solid 1px #999; */
		float:left; 
		
		margin:-1px 0 0 -1px;
		}

.boxWrap{
		width: 28vw;
		
		-moz-transition:margin-top .5s ease-out;
		-webkit-transition:margin-top .5s ease-out;
		-o-transition:margin-top .5s ease-out;
		-ms-transition:margin-top .5s ease-out;
		}
.boxWrap:hover{ 
		margin-top:-90vh;
		}
.boxWrap h1{ font-size:17px; 
		color:#000;
		}
.box1, .box2{ 
		padding:10px; 
		background-color:rgba(95%,59%,0%,0.1);
		
		height:90vh;
		
		letter-spacing:2px;
		word-wrap:break-word;
		font-size:1em;
		color:#ffffff
		}
.box2{ 
		margin-top: -1px; 
		position:relative;
		
		letter-spacing:2px;
		word-wrap:break-word;
		font-size:1em;
		color:#ffffff
		}
.box2 p{ 
		margin-bottom:.5em;
		
		}
.box2 a{  
		box-shadow:0 0 5px #999; 
		position:absolute; 
		left:70px; 
		bottom:10px; 
		text-decoration:none; 
		color:#FFF; 
		display:block; 
		border: solid 1px #69F; 
		background-color:#6CF; 
		border-radius:3px; 
		width:100px; 
		text-align:center;
		}
.box2 a:hover{ 
		box-shadow:0 0 5px #666; 
		background-color:#6BF;
		}
/**********************for pad****************************/
.wrap{ 	width:90vw; 
		margin:auto;
		position: absolute;
		z-index:98;
		transform:translatex(8%);

		}
		
.mask_3{ 
		height:50vh; 
		width:100vw;
		overflow:hidden; 
		/*border:solid 1px #999; */
		
		margin:-1px 0 0 -1px;
		}
.boxWrap_3{
		width: 80vw;
		
		-moz-transition:margin-top .5s ease-out;
		-webkit-transition:margin-top .5s ease-out;
		-o-transition:margin-top .5s ease-out;
		-ms-transition:margin-top .5s ease-out;
		}
.boxWrap_3:hover{ 
		margin-top:-50vh;
		}
.boxWrap_3 h1{ font-size:17px; 
		color:#000;
		}
.box1_3, .box2_3{ 
		padding:10px; 
		background-color:rgba(95%,59%,0%,0.1);
		color:#666; 
		height:50vh;
		}
.box2_3{ 
		margin-top: -1px; 
		position:relative;
		}
.box2_3 p{ 
		margin-bottom:.5em;
		
		}
.box2_3 a{  
		box-shadow:0 0 5px #999; 
		position:absolute; 
		left:70px; 
		bottom:10px; 
		text-decoration:none; 
		color:#FFF; 
		display:block; 
		border: solid 1px #69F; 
		background-color:#6CF; 
		border-radius:3px; 
		width:100px; 
		text-align:center;
		}
.box2_3 a:hover{ 
		box-shadow:0 0 5px #666; 
		background-color:#6BF;
		}